* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
}

a{
text-decoration: none;
}
a img {
border: none;
}

button,
a {
cursor: pointer;
color: inherit;
}

textarea {
resize: none;
}

button,
textarea,
select {
appearance: none !important;
border-radius: 0;
}


/* END OF CSS RESET */

/* prim color: #ffeedf */
/* prim color: #145434 */
/* font-family: 'Space Grotesk', sans-serif; */


body{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    background-color: #ffeedf;
}

#root {
    display: flex;
    padding: 50px;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    background-color: #ffeedf;
    gap: 60px;
}

.head {
    position: fixed;
    display: flex;
    width: 100%;
    max-width: 1200px;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    background-color:  #ffeedf;
    border-bottom: 1px solid #145434;
    color: #145434;
    z-index: 1;
    
}

.head h2 {
    display: flex;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 36px;
}

.head span{
    display: flex;
    justify-content: right;
    font-size: 36px;
    
}

.beer {
    position: relative;
    width: 400px;
    height: 250px;
    max-width: 1200px;
    padding: 30px;
    

    

    background-color: #145434;
    
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    color: #ffeedf;
}

.beer:nth-child(1){
    margin-top: 70px;
}
.beer:nth-child(2){
    margin-top: 70px;
}

.number{
    position: absolute;
    display: flex;
    margin-left: -55px;
    margin-top: -240px;
    width: 40px;
    justify-content: center;
    align-items: center;
    height: 40px;
    font-size: 24px;
    font-family: 'Space Grotesk', sans-serif;
    border: 1px solid #145434;
    border-radius: 100px;
    background-color: #ffeedf;
    color: #145434;
}

.title{
    min-height: 150px;
    padding: 20px 20px 20px 0px;
    font-size: 36px;
    margin-top: -20px;
    font-weight: 400;
}

.subtitle{
    padding-top: 5px;
    font-size: 18px;
    font-weight: 400;

    border-top: 1px solid #ffeedf;
}

.text{
    font-size: 18px;
    font-weight: 700;
}

.button {
    position: absolute;
    display: flex;
    align-items: center;
    right: -20px;
    justify-content: center;
    width: 200px;
    height: 50px;
    font-size: 14px;

    background-color: #ffeedf;
    border: 2px solid #145434;
    color: #145434;
}

.button:hover{
    background-color: #145434;
    color: #ffeedf;
    border-color: #ffeedf;
}

.button span {
    position: absolute;
    right: 0px;
    font-size: 36px;
}

@media screen and (max-width: 980px) {
    .beer:nth-child(2){
        margin-top: 0px;
    }
}